# file types to ignore

*.pyc
*.obj
*.lib
*.pch
*.vcxproj
*.user
*.filters
/.vs
/.visuallint
Debug
Release
RelWithDebInfo
*.sln
*.exp
*.dep
*.manifest
qrc_*.cpp
BuildLog.htm
cmake_install.cmake
*~
.vscode/
CMakeFiles/
*qrc.depends
ui_*.h
moc_*.cpp
Makefile
CMakeCache.txt
config.h
install_manifest.txt
/bin/
/ALL_BUILD.dir/
/doc/
/lib/
/Mod/
/ZERO_CHECK.dir/
/build/
/src/Tools/offlinedoc/localwiki/
/src/Tools/offlinedoc/*.txt
OpenSCAD_rc.py
.subuser-dev
/\.idea/
.tags
tags
/\.vscode/
.DS_Store
# crowdin file
src/Tools/freecad.zip
x64
sexp.dir
benchmarks
EGraph.dir
*.txt
*.xml
*.png
*.svg