[submodule "external/benchmark"]
	path = external/benchmark
	url = https://github.com/google/benchmark.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
